{% extends "base.html" %}

{% block content %}
  <canvas id="fireworks-canvas"></canvas>
  <div id="celebracion-msg" class="celebracion-msg"></div>

  {% include "components/badges.html" %}
  {% include "components/modal.html" %}

  <header>
    <img src="{{ url_for('static', filename='devunlocked_logo.png') }}" alt="DevUnlocked" class="header-logo" />
    <h1>DevUnlocked</h1>
  </header>

  {% include "components/pet_card.html" %}
  {% include "components/form_card.html" %}

  <p class="wall-title">Muro de victorias</p>
  {% include "components/wall.html" %}
{% endblock %}

{% block scripts %}
  <script>
    window.APP_DATA = { primeraVez: {{ mascota.primera_vez | tojson }} };
  </script>
  <script src="{{ url_for('static', filename='js/fireworks.js') }}"></script>
  <script src="{{ url_for('static', filename='js/celebration.js') }}"></script>
  <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/wall.js') }}"></script>
{% endblock %}
